<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <header>
        <h1>NEWS PAGE</h1>
    </header>
{% for i in news %}
    <h2>Новость: {{ i.news_title }}</h2>
    <h3>Текст: {{ i.description }}</h3>
    <img src="{{ i.image.url }}" alt="">
{% endfor %}
</body>
</html>